extends layout
include _includes/sharedHTMLfunctions

block content
  div.row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
      
  .row
    .col-12.col-md-5
      .error= message

  .row
    .col-12.col-md-8
      app-home-list
              
    .col-12.col-md-4
      p.lead= sidebar

block scripts
  script(src='/build/main.f71883e378f4b13fd460.js')
  script(src='/build/polyfills.35a5ca1855eb057f016a.js')
  script(src='/build/runtime.acf0dec4155e77772545.js')